section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  /* height: 100vh; */
}

section div {
  text-align: center;
}

.img-left {
  object-fit: cover;
  height: 100vh;
  margin-top: -110px;
}

.img-right {
  height: 60vh;
  margin-top: -10vh;
}

.rose-button {
  background-color: #ebccc2;
  color: #2e2e2e;
  border-radius: 2px;
  padding: 1.5vh 2vw;
}
